#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_configure:
	dh_auto_configure \
		-- \
		-Dpcsc=disabled \
		-Ddisable_tests=true

override_dh_auto_install:
	dh_auto_install
	sed -i '/Requires.private: nss/d' debian/tmp/usr/lib/*/pkgconfig/libcacard.pc

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=meson
